@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AzureCICDTest</h1>
<<<<<<< HEAD
    <p>Build software with Azure</p>
=======
>>>>>>> fe3fc803c9684ee42ba0f78e15188f3d6863668d
</div>
